frontend/node_modules/

backups/dumps/

__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env
.env

.git
.gitignore
.vscode
.idea

images/
logs/
HOWTO.md
README.md
tree.txt
LICENSE

docker-compose.yml
Dockerfile*