# database configuration
DATABASE_URL=postgresql://user:password@host:port/db_name
POSTGRES_USER=user
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

# flask startup route
FLASK_APP=api/src/app

CELERY_APP=backend/api/src/routes/tasks/tasks

REDIS_URL=redis://localhost:6379/0