services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: corcel_frontend
    ports:
      - "80:80"  
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    depends_on:
      - backend
    networks:
      - app_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: corcel_backend
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:17
    container_name: corcel_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    env_file:
      - ./api/.env

  backups:
    build:
      context: .
      dockerfile: Dockerfile.backups
    container_name: corcel_backups
    depends_on:
      - db
    volumes:
      - ./backups/dumps:/dumps
    networks:
      - app_network
    env_file:
      - ./api/.env
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: