
.download-button {
  background-color: transparent;
  border: 1px solid transparent; 
  padding: 0.5em; 
  
  border-radius: 8px;
  cursor: pointer;
  
  transition: border-color 0.25s, background-color 0.25s;
}

.download-button img {
  height: 2em;
  width: 2em;
  vertical-align: middle; 

  filter:brightness(100);
  transition: filter 300ms; 
}

.download-button:hover img {
  filter:brightness(100);

}
.download-button:hover {
  border-color: #aaaaaa;
}

.download-button:focus,
.download-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: #ffffff;
}

.download-button:disabled {
  cursor: not-allowed;
}

.download-button:disabled img {
  opacity: 0.4;
}