.clickable {
    border-radius: 4px;
    padding: 0.1em;
}

.clickable:hover {
    background-color: gray;
    cursor: pointer;
}
.candidates {
    background-color: rgb(255, 0, 0);
}

.corrected {
    background-color: rgb(100, 100, 255);
}

.selected {
    background-color: gray;
}

pre {
    border-radius: 7px;
    padding: 2em;
    background-color: rgb(28, 28, 28);
    white-space: pre-wrap;
    font-size: large;
}