/* Overlay to blur the background */
.overlay {
    height: 100%;
    width: 100%;
    position: relative;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left:0;
  }
  
  .overlay.active {
    display: flex; /* Show overlay when active */
  }
  
  /* Popup styles */
  .popup {
    padding: 2em;
    border-radius: 10px;
    max-width: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    text-align: center;
    border: solid white 2px;
  }

  .popup p {
    margin: 0;
  }
  
  /* Button styles */
  .popup button {
    margin: 5px;
    padding: 0.5em;
    background-color: #233724;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .popup button:focus {
    border: white solid;
  }
  
  .popup button:last-child {
    background-color: #651712;
  }

  .popup button:hover {
    background-color: #141514;
  }