:root {
  --font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-bg-root: #242424;
  --color-bg-control: #1a1a1a;
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-link-primary: #646cff;
  --color-link-hover: #535bf2;

  --radius-sm: 4px;
  --radius-md: 8px;

  --space-xxs: 0.2em;
  --space-sm: 0.6em;
  --space-md: 1.2em;
}